/************** Blocs ******************/

#af_tdContenu div.af_bloc_editoV2 div.af_bloc_top {
height: 3px;
background: #E6E3E0;
margin-bottom: 1px;
margin-top:20px;
font-size: 0px;
clear: both;
}

td.af_bloc100Col { width:480px; }
td.af_bloc50Col { width:235px; }
td.af_bloc33Col { width:155px; }
td.af_bloc66Col { width:315px; }
td.af_blocColSep { width:10px; }

b.af_bloc b.afcrn_c { background-color:#cccccc; }
b.af_bloc b.afcrn_b { background-color:#ffffff; border-color:#cccccc; }
b.af_bloc b.afcrn_cb { background-color:#cccccc; }

div.af_bloc { 
	margin-bottom:10px;
}
div.af_bloc TR.af_bloc_fond{
background-color:#f4f4f4;
}
div.af_bloc td.af_bloc_cadre {
	background-color:#ffffff;
	border-width:0 1px;
	border-color:#bbbbbb;
	border-style:solid;
}
div.af_bloc div.af_bloc_titre {
	padding:0px 8px 2px 8px;
}
div.af_bloc .af_bloc_titre, div.af_bloc .af_bloc_titre2 {
	font-family:"Trebuchet MS", Helvetica, Arial, sans serif;
	font-size:17px;
	font-weight:bold;
	color:#7e0845;
	text-align:left;
}
div.af_bloc .af_bloc_titre2 {
	font-size:22px;
}
div.af_bloc DIV.af_bloc_sep{
	background-image: url(/edito/imagesedito/pixel-1-3.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin:0px 2px 5px 2px;
}
div.af_bloc DIV.af_bloc_sep img { display:block; }
div.af_bloc .af_bloc_soustitre {
	font-family: Arial, Helvetica, sans serif;
	font-size:11px;
	font-weight:bold;
	color:#515151;
}
div.af_bloc TD.af_bloc_content {
	padding:3px;
}
DIV.af_blocCommunauteHeader .af_bloc_content{
  padding-top:0;
}

div.af_bloc .af_bloc_content, div.af_bloc .af_bloc_content a {
	font-family: Arial, Helvetica, sans serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	text-align:left;
}

div.af_bloc .af_bloc_content a:hover {
	text-decoration:underline;
}

DIV.af_bloc div.af_bloc_row1, DIV.af_bloc div.af_bloc_row2, DIV.af_bloc td.af_bloc_row1, DIV.af_bloc td.af_bloc_row2 {
	padding:3px 1px 3px 1px;
}
DIV.af_bloc div.af_bloc_row2, DIV.af_bloc td.af_bloc_row2 {
	background:#f4f4f4;
}
div.af_bloc .af_bloc_content .af_bloc_pseudo, div.af_bloc .af_bloc_content .tous { font-size:10px; }
div.af_bloc .af_bloc_content .af_bloc_pseudo {color:#cccccc; }
div.af_bloc .af_bloc_content .tous { text-decoration:underline; }

div.af_bloc .af_bloc_content img.af_bloc_encadre {
	border:1px solid #ffffff;
	margin-right:3px;
	display:block;
}

b.af_blocCommunaute b.afcrn_c { background-color:#756149; }
b.af_blocCommunaute b.afcrn_b { background-color:#756149; border-color:#756149; }
b.af_blocCommunaute b.afcrn_cb { background-color:#756149; }

b.af_blocCommunauteHeader b.afcrn_c { background-color:#ffffff; }
b.af_blocCommunauteHeader b.afcrn_b { background-color:#ffffff; border-color:#756149; }
b.af_blocCommunauteHeader b.afcrn_cb { background-color:#756149; }

DIV.af_blocCommunaute b.af_bloc_row1 b.afcrn_c { border-color:#756149; background-color:#a08e78; }
DIV.af_blocCommunaute b.af_bloc_row1 b.afcrn_b { background-color:#a08e78; border-color:#a08e78; }
DIV.af_blocCommunaute b.af_bloc_row1 b.afcrn_cb { border-color:#756149; background-color:#a08e78; }

DIV.af_blocCommunaute DIV.af_bloc_sepFusion, DIV.af_blocCommunauteHeader DIV.af_bloc_sepFusion {
	background-image: url(/edito/imagesedito/sep-blog.jpg);
	background-repeat: no-repeat;
	background-position: left middle;
	height:50px;
	margin:10px 0px 5px 0px;
}

DIV.af_blocCommunauteHeader DIV.af_bloc_sep, DIV.af_blocCommunaute DIV.af_bloc_sep{
	background-image: url(/edito/imagesedito/pixel-1-3-forum.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin:0px 2px 5px 2px;
}

DIV.af_blocCommunaute td.af_bloc_cadre, DIV.af_blocCommunauteHeader td.af_bloc_cadre{
	background-color:#756149;
	border-color:#756149;
}
div.af_blocCommunaute DIV.af_bloc_titre, div.af_blocCommunauteHeader DIV.af_bloc_titre {
	background-image: url(/edito/imagesedito/puce-communaute.gif);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding-left:25px;
}
div.af_blocCommunauteHeader DIV.af_bloc_header {
	background-image: url(/edito/imagesedito/filles-blog2-af.jpg);
	background-repeat: no-repeat;
	background-position: left top;
  background-color:#ffffff;
	height:50px;
}
div.af_blocCommunaute .af_bloc_titre, div.af_blocCommunaute .af_bloc_titre2, div.af_blocCommunauteHeader .af_bloc_titre, div.af_blocCommunauteHeader .af_bloc_titre2 {
  font-weight: normal;
	color:#ffffff;
}
DIV.af_blocCommunaute .af_bloc_content, DIV.af_blocCommunaute .af_bloc_content a, DIV.af_blocCommunauteHeader .af_bloc_content, DIV.af_blocCommunauteHeader .af_bloc_content a {
	color:#ffffff;
}
div.af_blocCommunaute .af_bloc_content img.encadre, div.af_blocCommunauteHeader .af_bloc_content img.af_bloc_encadre {
	border:1px solid #ffffff;
}
div.af_blocCommunaute div.af_bloc_row2, div.af_blocCommunaute div.af_bloc_row1, div.af_blocCommunauteHeader div.af_bloc_row2, div.af_blocCommunauteHeader div.af_bloc_row1 {
padding:2px;
}
div.af_blocCommunaute div.af_bloc_row1, div.af_blocCommunauteHeader div.af_bloc_row1 {
background-color: #8f7a5f;
}
div.af_blocCommunaute div.af_bloc_row2, div.af_blocCommunauteHeader div.af_bloc_row2 {
background-color: #756149;
}
div.af_blocCommunaute div.af_bloc_row2{
border-top:solid 1px #a18e78;
}
div.af_blocCommunaute a.tous, div.af_blocCommunauteHeader a.tous {
background-image: url(/edito/imagesedito/fleche-communaute.gif);
background-position:left 50%;
background-repeat:no-repeat;
padding-left:7px;
}
div.af_blocCommunaute div.tous, div.af_blocCommunauteHeader div.tous {
padding-left:7px;
text-indent:-7px;
}

/* Nos sites */
DIV.af_TitreNosSites{
font-family: Arial, Helvetica, sans-serif;	
font-size: 13px;
font-weight: bold;
color:#776652;
background-image: url(/edito/imagesedito/picto-nos-sites.gif);
background-position:left 50%;
background-repeat:no-repeat;
padding-left:15px;
margin:10px 0px 0px 0px;
clear:both;
}
DIV.af_separationNosSites{
background-image: url(/edito/imagesedito/pixel-1-3.gif);
background-position:left bottom;
background-repeat:repeat-x;
margin:2 0 7 0px;
clear:both;
}
DIV.af_nosSites{
margin-top:3px;
}
TABLE.af_nosSites {
	width:100%;
	background-color:#f5f2f2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	border-width:0 1px;
  border-style: solid;
  border-color: #cac8c8;
}
a.af_nosSitesTexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
a.af_nosSitesTexteGras {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}
img.af_nosSites_logo {
	border:1px solid #C4C8C8;
}

b.af_nosSitesCrn b.afcrn_c { background-color:#f5f2f2;}
b.af_nosSitesCrn b.afcrn_cb { background-color:#cac8c8; }
b.af_nosSitesCrn b.afcrn_b { border-color:#cac8c8; }


/* Separation */
DIV.af_separationT1{
/*background-image: url(/edito/imagesedito/pixel-1-3.gif);
background-position:left bottom;
background-repeat:repeat-x;
padding:2px 5px 2px 5px;*
clear:both;*/
display: none;
}
DIV.af_separationT1 img { display:block; }
/* --------------------------------------------- */
/* Contours boites */

/*--- Bloc de News ---*/
DIV.af_NewsBlocTotal{ margin-top:20px;}
table.af_NewsBloc{font-family: Arial, Helvetica, sans-serif; font-smooth:always; background: none;border-left: 1px solid #E6E3E0;border-right: 1px solid #E6E3E0;}
.af_NewsBlocTitre{font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;font-size:23px;font-weight:normal;color:#7E0846;padding:5px;line-height: 27px; background:#fff;word-spacing: -1px;}
div.af_NewsBlocContenu{padding:5px;background-color:#fff;border-top:1px solid #7E0846;}
table.af_NewsBlocContenu{display:block}
tr.af_NewsBlocLien td{font-size:13px;color:#000; line-height:14px;}
.af_NewsBlocLien a {color:#7E0846;text-decoration:none;}
.af_NewsBlocLien a img{border:1px solid #999999;}
.af_NewsBlocLien a:hover{text-decoration:underline;}
.af_NewsBlocLien small {font-size:9px;color:#999999}
table.af_NewsBlocOnglets{font-size:13px;font-weight:normal;cursor:pointer;margin-left: 5px;}
.af_NewsBlocOnglets div{padding:0px 5px 3px 5px;}
.af_NewsBlocOngletActif{background-color: #7E0846;color: #FFF; padding:0 3px; border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0;-ms-border-radius: 2px 2px 0 0;}
.af_NewsBlocOngletInactif{background-color: #BE83A2;color: #FFFFFF; padding:0 3px;border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0;-ms-border-radius: 2px 2px 0 0;}
.af_NewsBlocDate{font-size:10px; padding: 5px 5px 0 0;background:#fff;vertical-align:top; color:#fff; }
b.af_NewsBlocCorner{border-bottom: 1px solid #E6E3E0;padding-bottom: 1px;}

b.af_NewsBlocCorner b.afcrn_c { background:#e6e3e0;}
b.af_NewsBlocCornerinv b.afcrn_c { border-color:#e4d8ca; }
.af_NewsBlocOngletInactif b.af_NewsBlocCornerinv b.afcrn_c { border-color:#e4d8ca; }


b.af_NewsBlocCornerBas b.afcrn_b { background-color:#ffffff; border-color:#E6E3E0; }
b.af_NewsBlocCornerBas b.afcrn_cb { background-color:#E6E3E0; }
b.af_NewsBlocCornerBas b.afcrn_c{background: none repeat scroll 0 0 #E6E3E0;}

a.af_NewsBlocLienTous{
color:#006871;
padding-left:8px;
text-decoration:underline;
}

/* Sur le même thème... */
TABLE.af_connexeBorder{
background-color:#a29b91;
}
TABLE.af_connexeContent{
background-color:#f4f4f4;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
}
TABLE.af_connexeContent a{
color:#515151;
}

/* Outils courts */
b.af_nosOutilsAccC b.afcrn_cb { background-color:#6a6359; }
b.af_nosOutilsAccC b.afcrn_b { border-color:#6a6359; }



/* Observatoiretendances */
b.af_moduleObsAF b.afcrn_c { background:#dcd6ce; }
b.af_moduleObsAFBas b.afcrn_b { background-color:#ffffff; border-color:#dcd6ce; }
b.af_moduleObsAFBas b.afcrn_cb { background-color:#dcd6ce; }
DIV.af_moduleObsAFTotal{
margin-top:20px;
margin-bottom:10px;
}
TABLE.af_moduleObsAF{
width:100%;
background-color:#ffffff;
border-left:solid 1px #dcd6ce;
border-right:solid 1px #dcd6ce;
}
TABLE.af_moduleObsAF TD.af_moduleObsAFTitre{
color: #645c4f;
background-color:#dcd6ce;
font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: normal;
line-height:24px;
padding:0px 5px 0px 15px;
}
TABLE.af_moduleObsAF TD.af_moduleObsAFTitre SPAN.textTendance{
color: #ffffff;
background-color:#ad446e;
font-size: 20px;
padding:0px 3px 0px 3px;
}
TABLE.afvote_cadre TD.afvote_titre{
color:#000000;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight:bold;
padding:5px;
}
TABLE.afvote_cadre TD.afvote_reponse {
color:#717171;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight:normal;
padding:10px 5px 0px 5px;
}
TABLE.afvote_cadre  input.afvote_submit{
background:#7e0846; border:0 none; color: #fff; font:normal 12px Arial,Verdana,sans-serif; padding:6px 16px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px;
}
TABLE.afvote_cadre  input.afvote_submit:hover{cursor:pointer !important; box-shadow:0 0 6px #707070; -webkit-box-shadow:0 0 6px #707070; -moz-box-shadow:0 0 6px #707070; -o-box-shadow:0 0 6px #707070; -ms-box-shadow:0 0 6px #707070;}

TD#contenuNews TABLE.afvote_cadre TD.afvote_titre{
	color:#7e0846;
	font-size: 13px;
	padding:5px;
}
TABLE.afvote_cadre DIV.afvote_bar{
background-color :#ad446e;
margin-top:2px;
height:3px;
}
TABLE.afvote_cadre TD.afvote_percent, TABLE.afvote_cadre TD.afvote_nbvotes{
color:#ad446e;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight:bold;
padding-right:5px;
}
TABLE.afvote_cadre TD.afvote_nbvotes{
color:#000000;
}

/* TV */
DIV.af_blocTVLogo b.af_blocTVLogo b.afcrn_c { background-color:#CCCCCC; }
DIV.af_blocTVLogo b.af_blocTVLogo b.afcrn_b { background-color:#ececec; border-color:#CCCCCC; }
DIV.af_blocTVLogo b.af_blocTVLogo b.afcrn_cb { background-color:#CCCCCC; }

DIV.af_blocTVLogo b.af_blocTV b.afcrn_c { background-color:#CCCCCC; }
DIV.af_blocTVLogo b.af_blocTV b.afcrn_b { background-color:#ececec; border-color:#CCCCCC; }
DIV.af_blocTVLogo b.af_blocTV b.afcrn_cb { background-color:#CCCCCC; }

DIV.af_blocTVLogo TD.af_bloc_cadre { background-color:#ececec; }

DIV.af_blocTVLogo DIV.af_bloc_titre, DIV.af_blocTVLogo DIV.af_bloc_sep { display:none; }

DIV.af_blocTVLogo DIV.tous2 A, DIV.af_blocTVLogo DIV.tous2 A:HOVER { background: url(/tv/imagestv/4/puce.gif) no-repeat left 50%; color: #9E0D00; font-family: Arial, Helvetica, 'sans serif'; font-size: 12px; font-weight: bold; padding-left: 8px; padding-right: 3px; text-decoration: none; }

DIV.af_blocTVLogo DIV.af_bloc_header IMG { height:40px; width:233px; background:url(/tv/imagestv/4/logo-bloc.gif) no-repeat left top; }


/* ////////////////////////////////////////////////////////////////////// */
/* 						MODIFS AUFEMININ V2				   			*/
/* ////////////////////////////////////////////////////////////////////// */
body div.af_bloc .af_bloc_content, body div.af_bloc .af_bloc_content a {
	font-size: 16px;
}
body div.af_blocEdito .af_bloc_content {
	font-size: 16px !important;
	line-height: 25px !important;
}
body div.af_bloc DIV.af_bloc_sep {
	background-image: none;
	margin: 0px;
}

body div.af_bloc.af_blocEdito td.af_bloc_cadre {
	border-color: #f1f1f1;
}
body DIV.contourMilieu h1.titreMilieu, body div.contourMilieu h1.titreMilieu a {
	font-size: 40px;
	/*color: #fff;*/
}
body div.contourMilieu .recette table.typeAvis .typeRecette table .txtSpecRecette {
    font-size: 22px;
    /*color: #fff;*/
}
body div.contourMilieu .recette table.typeAvis .typeRecette .txtTypeAvis a.lienNoir {
    font-size: 18px;
    /*color: #fff;*/
}
body div.contourMilieu .recette table .txtRecette {
	font-size: 17px;
	color: #878384;
}
body div.contourMilieu .recette table .txtRecette .mrm_al {
	color: #8D2666;
}

body div.contourMilieu .recette table .txtRecette .preparation {
	font-size: 17px;
}
body div.contourMilieu .recette table .txtRecette strong,
body div.contourMilieu .recette table .txtRecette .preparation,
body div.contourMilieu .recette .boutonsBas a.lienBas {
	color: #8D2666;
	font-weight: bold;
}
body td.af_bloc50Col {
	width: 238px;
}
body div.af_bloc .af_bloc_titre {
	font-size: 22px;
	padding: 8px;
}

/* Correction stories */
.af_edito_contenu DIV.story_container {
	font-size:14px;
}
body DIV.story_container ul, DIV.story_container ol {
	color:#5A5B5E;
	line-height:22px;
	font-size:17px;
	padding-left:10px;
}
body DIV.story_container ul li:before, DIV.story_container ol li:before {
	content:'- ';
}
body DIV.story_container P.paragraphe, DIV.story_container div.paragraphe {
	font:normal 17px/22px Arial, Helvetica, sans-serif;
	color:#5A5B5E;
	margin:0;
	padding:10px;
	text-align:left;
	letter-spacing:0.1px;
}
body TD#contenuStory DIV.chapo {
	font:normal 17px/22px Arial, Helvetica, sans-serif;
	color:#5A5B5E;
}
body DIV.story_container DIV.paragraphe A.af_al, body DIV.story_container P.paragraphe A.af_al, body DIV.story_container LI A.af_al, body DIV.story_container P.quote A.af_al, body TD#contenuStory DIV.chapo A.af_al {
	font-size:17px;
	color:#5A5B5E;
}