TABLE.HeaderTable { background:url(frise.gif) no-repeat right 50%; }

DIV.contenuSousMenu{
border-color:#ba3882;
}
/* Sous menu */
TABLE.MenuSousRub_Cadre{
margin-bottom:15px;
}
TD.MenuSousRub_Titre a{
color: #ba3882;
}

/* Newsletter */
DIV.newsletterAF .btnNewsletter{
background-color:#ba3882;
}

/* Service du Jour */
b.af_blocoutil b.afcrn_cb { background-color:#ba3882; }
b.af_blocoutil b.afcrn_b { border-color:#ba3882; }

/* A découvrir */
div.afsa_V96 { border-color: #ba3882; }

/* Boite à recettes */
TABLE.boiteARecetteTous TD.outilsColGauche{
border-left:solid 1px #e69a0d;
}
TABLE.boiteARecetteTous TD.outilsColDroite{
border-right:solid 1px #e69a0d;
}
b.af_moduleBARecettesAF b.afcrn_b { border-color:#e69a0d; }
b.af_moduleBARecettesAF b.afcrn_cb { background-color:#e69a0d;}

/* Nuage de Tags/Mliens (col.de gauche) */
b.af_rubtagsHaut b.afcrn_c { background-color:#ba3882; }
b.af_rubtagsBas b.afcrn_b { border-color:#ba3882; }
b.af_rubtagsBas b.afcrn_cb { background-color:#ba3882; }
div.af_rubtags {
	border-color:#ba3882;
}
div.af_rubtags_titre {
	background-color:#ba3882;
}
.af_rubtags_contenu a.af_rubtags_mliens{display:block}

/* communaute */
b.af_blocCommunaute b.afcrn_c { background-color:#5c0436; }
b.af_blocCommunaute b.afcrn_b { background-color:#5c0436; border-color:#5c0436; }
b.af_blocCommunaute b.afcrn_cb { background-color:#5c0436; }

b.af_blocCommunauteHeader b.afcrn_c { background-color:#ffffff; }
b.af_blocCommunauteHeader b.afcrn_b { background-color:#ffffff; border-color:#5c0436; }
b.af_blocCommunauteHeader b.afcrn_cb { background-color:#5c0436; }

DIV.af_blocCommunaute b.af_bloc_row1 b.afcrn_c { border-color:#5c0436; background-color:#e87d0b; }
DIV.af_blocCommunaute b.af_bloc_row1 b.afcrn_b { background-color:#e87d0b; border-color:#e87d0b; }
DIV.af_blocCommunaute b.af_bloc_row1 b.afcrn_cb { border-color:#5c0436; background-color:#e87d0b; }

DIV.af_blocCommunaute DIV.af_bloc_sepFusion, DIV.af_blocCommunauteHeader DIV.af_bloc_sepFusion {
	background-image: url(/cuisine/imagescuisine/4/sep-blog.gif);
}

DIV.af_blocCommunaute td.af_bloc_cadre, DIV.af_blocCommunauteHeader td.af_bloc_cadre{
	background-color:#5c0436;
	border-color:#5c0436;
}
div.af_blocCommunaute .af_bloc_titre, div.af_blocCommunaute .af_bloc_titre2, div.af_blocCommunauteHeader .af_bloc_titre, div.af_blocCommunauteHeader .af_bloc_titre2 {
  font-weight: normal;
	color:#ffffff;
}
DIV.af_blocCommunaute .af_bloc_content, DIV.af_blocCommunaute .af_bloc_content a, DIV.af_blocCommunauteHeader .af_bloc_content, DIV.af_blocCommunauteHeader .af_bloc_content a {
	color:#ffffff;
}
div.af_blocCommunaute .af_bloc_content img.encadre, div.af_blocCommunauteHeader .af_bloc_content img.af_bloc_encadre {
	border:1px solid #ffffff;
}
div.af_blocCommunaute div.af_bloc_row2, div.af_blocCommunaute div.af_bloc_row1, div.af_blocCommunauteHeader div.af_bloc_row2, div.af_blocCommunauteHeader div.af_bloc_row1 {
padding:2px;
}
div.af_blocCommunaute div.af_bloc_row1, div.af_blocCommunauteHeader div.af_bloc_row1 {
background-color: #6a053e;
}
div.af_blocCommunaute div.af_bloc_row2, div.af_blocCommunauteHeader div.af_bloc_row2 {
background-color: #5c0436;
}
div.af_blocCommunaute div.af_bloc_row2{
border-top:solid 1px #d3c5b8;
}

/*ZOOM sur */
TABLE.af_NewsBloc { background: none;border-left: 1px solid #B4AA9E;border-right: 1px solid #B4AA9E;}
b.af_NewsBlocCornerinv b.afcrn_c { border-color:#b6cec4; }
.af_NewsBlocOngletInactif b.af_NewsBlocCornerinv b.afcrn_c { border-color:#b6cec4; }
b.af_NewsBlocCornerBas b.afcrn_b {border-color: #B4AA9E; }
b.af_NewsBlocCornerBas b.afcrn_cb { background-color:#B4AA9E; }
TD.af_NewsBlocOngletInactif{ background-color: #BE83A2; }


/* Plus de recettes */
div.plusDeRecettes { text-align: left; border: 1px solid #B4AA9E; margin-bottom: 20px; padding: 7px;}
div.plusDeRecettes .plusDeRecettesTitre { margin: 0; padding: 0; font: normal 23px/25px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #7D0645; }
div.plusDeRecettes div.plusDeRecettesL { width: 49%; float: left;}
div.plusDeRecettes div.plusDeRecettesR { width: 49%; float: right;}
div.plusDeRecettes ul { margin: 5px 0; padding: 0 0 0 20px; }
div.plusDeRecettes li { list-style-type: disc; text-align: left; color: #006871; padding: 2px 0; }
div.plusDeRecettes li a, div.plusDeRecettes li a:hover { font: normal 13px/16px Arial, Helvetica, sans-serif; color: #006871; }