/*//////////////////////////////////////////////////////////////////////////////*/
.TitreVert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #82c61a;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-weight: bold;
}
.NomRecette {font-family:Arial; font-size:10px; color:#000000; font-weight:normal; text-decoration:none}
.ContenuRecette {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
a.br_addlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	border-bottom:1px dotted #666666;
}
a.br_addlink:hover{
	text-decoration: none;
	border-bottom:1px solid #000000;
}
.TitreOrange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #e3b500;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-weight: bold;

}
a.VoirRecetteTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #de3241;
	text-decoration: underline;
	text-align: left;
	padding-left: 5px;
}
.DernieresRecettesTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.RecettesLectricesTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #004e0f;
	padding-left: 5px;

}
.FondVertClair{
	background-color: #deeb98;
}
.FondVertFonce{
	background-color: #bdd831;
}
.FondVertClair td, .FondVertFonce td{
	white-space:nowrap;
	overflow-x:hidden;
}
.FondBlanc{
	background-color: #ffffff;
}
.Fond{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#eff4ec;
}

/* Search */
.TitreNoir {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
.SousTitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #de3241;
}
.BR_Input { 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	background-color: #FFFFFF; 
	color:#000000; border-width:1px; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid;
}
.lien_rechercher {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
	text-decoration:none;
	padding-left: 30px;
	cursor:pointer;
}
.Bouton_Rechercher {
	background-image:url("/world/cuisine/boitearecettes/im/bt_recherche_fond.gif");
	width:164px;
	height: 27px;
}


/* Top */

.TopRecettesLien {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #535f41;
	font-weight: bold;
	text-decoration:none;
}
.TopRecettesLien:hover{
	text-decoration:underline;
}

.TopTitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: #9aae7a;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-weight: bold;
}

/* Fiche Recette */

.FicheTitreMinceur, .FicheTitrePlaisir, .FicheTitreMicroOnde,.BackLinkPlaisir {
	padding:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #5c8f0d;
	background-color: #f1fae5;
}

.FicheTitreMinceur, .BackLinkMinceur {
	color: #c48208;
	background-color: #f9ecd5;
}
.FicheTitreMicroOnde, .BackLinkMicroOnde {
	color: #bb2424;
	background-color: #fedbdb;
}
.BackLinkPlaisir, .BackLinkMinceur, .BackLinkMicroOnde{
	font-weight: 100;
	font-size:10px;
}
h1.FicheTitreRecetteVert, h1.FicheTitreRecetteOrange, h1.FicheTitreRecetteRouge{font-weight:normal;margin:0;}
.FicheTitreRecetteVert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	background-color: #82c61a;
	line-eight:20px;
}
.FicheTitreRecetteOrange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	background-color: #e69a0d;
	line-height:20px;
}
.FicheTitreRecetteRouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	background-color: #d94545;
	line-height:20px;
}

.Points {
	padding-bottom:3px;
	border-bottom:dotted 1px #cccccc;
}

div.Fond{
	background-color:#eff4ec;
	width: 480px;
	text-align: left;		
}
.FondRougeClair{
	background-color:#e5e7fb;	
}
.SousTitrePetitVert, .SousTitrePetitRouge, .SousTitrePetitOrange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #559244;
	font-weight: bold;
	text-decoration:none;
}
.SousTitrePetitRouge {
	color: #d94545;
}
.SousTitrePetitOrange {
	color: #e69a0d;
}
.SousTitreVert, .SousTitreRouge, .SousTitreOrange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #559244;
	font-weight: bold;
	text-decoration:none;
}
.SousTitreRouge {
	color: #d94545;
}
.SousTitreOrange {
	color: #e69a0d;
}
.FichePseudo,.FichePseudoRouge,.FichePseudoOrange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #559244;
	font-weight: normale;
	text-decoration:none;
}
.FichePseudoRouge {
	color: #d94545;
}
.FichePseudoOrange {
	color: #e69a0d;
}
a.FichePseudo {
	text-decoration:underline;
}
/*////////Orange//////////*/
.FicheBoutonImpOrange {
	background-image:url("/world/cuisine/boitearecettes/im/bt_fiche_imprimer_orange.gif");
	width:147px;
	height: 21px;
	padding-top:3px;
}
.FicheBoutonImpOrange a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #c48208;
	padding-left: 26px;	
}
.FicheBoutonCarOrange {
	background-image:url("/world/cuisine/boitearecettes/im/bt_fiche_ajouter_orange.gif");
	width:165px;
	height: 21px;
	padding-top:3px;
}
.FicheBoutonCarOrange a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #c48208;
	padding-left: 27px;	
}
/*////////Vert//////////*/
.FicheBoutonImpVert {
	background-image:url("/world/cuisine/boitearecettes/im/bt_fiche_imprimer_vert.gif");
	width:147px;
	height: 21px;
	padding-top:3px;
}
.FicheBoutonImpVert a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5c8f0d;
	padding-left: 26px;
}
.FicheBoutonCarVert {
	background-image:url("/world/cuisine/boitearecettes/im/bt_fiche_ajouter_vert.gif");
	width:165px;
	height: 21px;
	padding-top:3px;
}
.FicheBoutonCarVert a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5c8f0d;
	padding-left: 26px;
}
/*////////Rouge//////////*/
.FicheBoutonImpRouge {
	background-image:url("/world/cuisine/boitearecettes/im/bt_fiche_imprimer_rouge.gif");
	width:147px;
	height: 21px;
	padding-top:3px;
}
.FicheBoutonImpRouge a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #d74444;
	padding-left: 26px;
	
}
.FicheBoutonCarRouge {
	background-image:url("/world/cuisine/boitearecettes/im/bt_fiche_ajouter_rouge.gif");
	width:165px;
	height: 21px;
	padding-top:3px;
}
.FicheBoutonCarRouge a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #d74444;
	padding-left: 26px;

}
.PhotoRecette{
	border:1px solid #d2d2d2;
	padding:2px;
	background-color:white;
}

/* Index Recherche */

.IndexRechercheFond {
	background-image:url('/world/cuisine/boitearecettes/im/recherche_index_fond.gif');
	width: 240px;
	height: 74px;
	background-repeat: no-repeat;	
}
.IndexRechercheTitre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;

}
.IndexRechercheOk {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #82c61a;
	font-weight: bold;
	text-decoration:underline;
	padding-left:5px;
}
.IndexRechercheAvance {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #de3241;
	font-weight: bold;
	text-decoration:underline;

}
.IndexrInput{
	background-color:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	border:1px solid #a5acb2;

}
/* Inscription NL */

.InscriptionNlTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}
.InscriptionNlFondVert {
	background-color: #82c61a; 
}


/* Proposer Recette */

.ProRecetteTxtNoir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: left;
	padding:5px;
	font-weight: bold;
}
.ProRecetteTxtNoirPetit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: left;
	font-weight: normal;
}
.ProRecetterInput{
	background-color:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	border:1px solid #a5acb2;

}
.ProRecetterSelect{
	background-color:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
}
.ProRecetterEnvoyer {
	background-image:url('/world/cuisine/boitearecettes/im/pro_recette_bt_envoyer.gif');
	width: 162px;
	height: 25px;
	text-align:center;
	display:block;
	padding:4px 0px 4px 0px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.ProRecetteTxtNoirEnvoyer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: left;
	font-weight: bold;
}
/* Frigo */
.FrigoTxtNoir, .FrigoTxtGris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: left;
	font-weight: bold;
}
.FrigoTxtGris{color:#888888}
a.FrigoTxtNoir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
}
.FrigoRechercheFond {
	background-image:url('/world/cuisine/boitearecettes/im/bt_recherche_fond.gif');
	width: 164px;
	height: 27px;
	background-repeat: no-repeat;
	text-align:center;
	display:block;
	padding:10px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position: center;
}
.FrigoInput{
	background-color:#eff4ec;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	border:1px solid #dae0d1;

}
table.navrecettelight{
		
}
td.af_pagnav_td{
	padding:1px 2px;
}
.af_pagnav_texte{
	padding:1px 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.af_pagnav_fleche a{
	padding:0px 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #666666;
	text-decoration:none;
}
.af_pagnav_fleche a:hover{
	color: #999999;
}
